<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col col-md-6">
                <h5 class="card-title">
                    Dataset {{graphDetail?.id}} - {{graphDetail?.name}}
                </h5>
            </div>
            <div class="text-end col col-md-6">
                <div class="text-lg-end pt-2">
                </div>

            </div>
        </div>
    </div>
    <div class="card-body">
        Number of nodes: {{ graphDetail?.numberOfNodes }}
        <br>
        Average Number of adjacent nodes: {{ graphDetail?.averageNumberOfAdjacentNodes.toFixed(2)}}

        <div>
            <button class="btn btn-primary" (click)="loadVisualization()">Visualize graph</button>
        </div>

        <div class="row">
            <div class="col col-md-12">
                <div id="orbGraph" style="height:800px; width:100%;"></div>
            </div>
        </div>
    </div>
</div>